.root {
    -fx-base: #CDCDCD;
    -fx-accent: #D4D4D4 ;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane .tab:selected {
    -fx-border-color: transparent;
}
